__debug_*

server/bin/*

.idea
**.DS_Store
/jdapi/jd/node_modules
/jd/chromedriver-mac-x64-135-0424
/jd/chrome-headless-shell-linux64
/jd/data
/jd/data
jdapi/jd/cks.txt
web/package-lock.json
jdapi/jd/package.json
jdapi/jd/package-lock.json
jdapi/jd/__pycache__/MS.cpython-38.pyc
jdapi/jd/__pycache__/jd_wskey.cpython-38.pyc
jdapi/jd/__pycache__/getProxyIp.cpython-38.pyc
jdapi/jd/__pycache__/api_order.cpython-38.pyc
.vscode/settings.json
jdapi/20250403_191949.mp4
jd/chromedriver-mac-x64-135.zip
