#root {
  width: 100vw;
  height: 100vh;
}

.login {
  width: 420px;
  height: 350px;
  margin: 120px auto;
}

.mr-10 {
  margin: 10px 0;
}

.inline_search_form .ant-form-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-center {
  text-align: center;
}